body {
  background-color: white;
}

.HEADER {
  background-color: lightskyblue;
  height: 1000px;
  width: 1000px;
}
#picture {
  margin: auto;
  height: 500;
  width: 50%;
  position: relative;
  align: center;
}

.col{
  margin: auto;
  height: 50%;
  width: 50%;
  position: absolute;
  align: center;
}
