body {
  background-color: white;
}
body {
  margin: 0;
}

#flex-container {
  display: flex;
  justify-content: space-between;
  height: 250px;
  
}

nav {
  background-color: royalblue;
  height: 75px;
}

header {
  background-color: lightskyblue;
  height: 400px;
}

section {
  background-color: gray;
  margin: 75px 100px;
  height:625px;
  
}

footer {
  background-color: black;
  height: 100px;
}

p {
  background-color: khaki;
  height: .0px;
  margin-bottom: 100px;
}

div.col {
  background-color: tomato;
  border: 2px solid black;
  width: calc(50% - 10px);
}

div.col2 {
  background-color: tomato;
  border: 2px solid black;
  width: calc(50% - 10px);
}
  
div.col3 {
  background-color: tomato;
  border: 2px solid black;
  width: calc(50% - 10px);
}

